body {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    background-color: black;
}

.number{
    height: 30px;
    background-size: contain;
}

.cells {
    position: absolute;
    cursor: pointer;
}

.buttons {
    margin: 5px;
    width: 62px;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#mainImgContainer {
    position: relative;
    margin: 0 auto;
    width: 540px;
    height: 540px;
    background-size: contain;
    border: solid 2px;
    border-color: rgb(73, 73, 73);
}

#slider {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    z-index: 100;
    
}

.slide{
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: contain;
}

.sliderBtns{
    position: absolute;
    top: 37.5px;
    width: 75px;
    height: 75px;
    z-index: 1001;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
    background-size: contain;
}

#white{
    position: absolute;
    background-color: black;
    top: 0px;
    left: -700px;
    width: 700px;
    height: 150px;
    z-index: 1000;
}
#white2{
    position: absolute;
    background-color: black;
    top: 0px;
    left: 150px;
    width: 700px;
    height: 150px;
    z-index: 1000;
}

#buttonsContainer {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 78px;
}

#blockade {
    z-index: 1100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#imgBlockade {
    z-index: 1100;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 540px;
    height: 540px;
}

#timer {
    margin: 0 auto;
    width: 300px;
}

#records {
    position: absolute;
    width: 550px;
    height: 550px;
    line-height: 50px;
    top: 220px;
    left: 10px;
    font-size: 25px;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}